* {
    margin: 0;
}

canvas {
    background-color: green;
}

body {
    background-color: #000000;
    overflow: hidden;
}

main {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    background-color: green;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 0.6s cubic-bezier(.13,.53,.38,.97);
    overflow: hidden;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    line-height: 32px;
}

.start-screen button {
    font-family: "Courier New", Courier, monospace;
    margin: auto;
    padding: 8px;
    background: transparent;
    outline: none;
    border: 2px solid #ffffff60;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: background-color 0.4s, transform 0.2s;
    cursor: pointer;
}

.start-screen button:hover {
    background-color: #ffffff40;
}

.start-screen button:active {
    box-shadow: none;
    transform: translateY(4px);
    overflow: hidden;
}

.start-screen h1 {
    text-align: center;
    font-size: 2rem;
}

.start-screen p {
    text-align: center;
}

body[data-nav="true"] > main {
    transform: translateY(-50%);
}

a {
    display: inline-block;
}

.menu-btn {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ffa500;
    border: none;
    border-radius: 50%;
    display: inline-block;
    left: 50%;
    bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    z-index: 69420;
    transform: translateX(-35px);
}

.menu-btn:hover {
    border-radius: 40%;
}

.menu-icon {
    opacity: 0;
    z-index: 69;
    position: absolute;
    left: 29px;
    top: 27px;
    transition-duration: 0.4s;
}

.menu-btn:hover .menu-icon {
    opacity: 1;
}

.menu-btn:active .background {
    transform: translateY(50%);
}

nav {
    display: grid;
    place-items: center start;
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 10px auto;
    overflow-x: auto;
    transform: scale(0.9);
    transition: transform 0.4s ease-in-out;
}

.nav-link {
    text-decoration: none;
    margin: 20px;
    color: white;
}

.nav-link-img {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0%) scale(1);
}
